
.well {
    background-color:white  ;
    width: 50%;
    margin-left: 25%;
}

.img1 {
    width :120px;
    height: 140px;
    margin-left: 45%;
}
h1{ 
    background-color: white;
    color: black;
}

.search {
    margin-left: 30%;  
}
