User name : <input type="text" [(ngModel)]="userName"> 
<button (click)="search()">Search</button>


<div class="row">
        <blockquote class="blockquote text-center">
          <img src="{{reponse.avatar_url}}" alt="">
          <p class="mb-0">Username:{{reponse?.login}}</p>
          <footer class="blockquote-footer"><cite>Repositories:{{reponse?.public_repos}}</cite></footer>
          <p class="mb-0">Followers : {{reponse?.followers}}</p>
          <p class="mb-0">Following : {{reponse?.following}}</p>
          <p class="mb-0">Created : {{reponse?.created_at}}</p>
        <button><a href="{{reponse.html_url}}">Visit User</a></button>
        </blockquote>
</div> 
